trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'empapplication'
  containerName: 'empapp'
  server_ip: '3.249.64.200'        # Replace with your EC2 IP
  ssh_private_key: '$(EC2_SSH_KEY)' # Stored securely in Azure DevOps pipeline secrets

stages:
  - stage: Build
    displayName: "Build Docker Image"
    jobs:
      - job: Build
        steps:
          - task: Checkout@1
            displayName: "Checkout source code"

          - task: Docker@2
            displayName: "Build Docker image"
            inputs:
              command: 'build'
              Dockerfile: 'docker-deploy/Dockerfile'
              tags: |
                $(imageName):latest

  - stage: Deploy
    displayName: "Deploy to EC2 via SSH and Ansible"
    dependsOn: Build
    jobs:
      - job: Deploy
        steps:
          - task: InstallSSHKey@0
            inputs:
              sshPublicKey: ''
              sshKeySecureFile: 'EmpApplicationKeyPair.pem' # upload to Secure Files in Azure DevOps

          - script: |
              sudo apt-get update -y
              sudo apt-get install -y ansible
            displayName: "Install Ansible"

          - script: |
              echo "Deploying container to EC2"
              ansible-playbook -i ansible/inventory.ini docker-deploy/deploy-container.yml
            displayName: "Run Ansible playbook to deploy container"
